@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
    <li><a href="/Staff/Index">Quản lý nhân viên</a></li>
    <li><a href="/Staff/Report">Thống kê nhân viên</a></li>
</ul>

</ul>

</div>
