@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.NhanVien
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_CreateLayout.cshtml";
}
<form method="post" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="HoTen" class="control-label">Tên người dùng:</label>
                <input asp-for="HoTen" type="text" placeholder="Nhập Họ và Tên" class="form-control" required />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label">Ngày Sinh:</label>
                <input asp-for="NgaySinh" type="text" placeholder="Nhập Ngày Sinh (dd/mm/yyyy)" class="form-control" required />
                <span asp-validation-for="NgaySinh" class="text-danger error-message"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label">Số điện thoại:</label>
                <input asp-for="SoDienThoai" type="text" placeholder="Nhập Số Điện Thoại" class="form-control" required />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <br />
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa chỉ:</label>
                <input asp-for="DiaChi" type="text" placeholder="Nhập Địa Chỉ" class="form-control" required />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ChucVu" class="control-label">Chức vụ:</label>
                <input asp-for="ChucVu" type="text" placeholder="Nhập Chức vụ" class="form-control" required />
                <span asp-validation-for="ChucVu" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="SoNamCongTac" class="control-label">Số Năm Công tác:</label>
                <input asp-for="SoNamCongTac" type="number" placeholder="Nhập Số năm công tác" class="form-control" required />
                <span asp-validation-for="SoNamCongTac" class="text-danger"></span>
            </div>
            <br />
            <div class="btn-chance">
                <div class="form-group">
                    <button type="submit" class="save-btn"> Lưu </button>
                    <button type="button" class="cancel-btn" onclick="cancelForm()"> Hủy </button>
                </div>
            </div>
        </div>
    </div>
</form>