@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model hocvieccuccangMVC.Models.NhanVien



<div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="editEmployeeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEmployeeModalLabel">Chỉnh sửa thông tin nhân viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Edit" id="editEmployeeForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="nv_id" id="editEmployeeId" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ho_ten" class="control-label">Tên người dùng:</label>
                                <input asp-for="ho_ten" type="text" class="form-control" id="editEmployeeHoTen"
                                    required />
                                <span asp-validation-for="ho_ten" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="ngay_sinh" class="control-label">Ngày Sinh:</label>
                                <input asp-for="ngay_sinh" type="text" class="form-control" id="editEmployeeNgaySinh"
                                    required />
                                <span asp-validation-for="ngay_sinh" class="text-danger error-message"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="so_dien_thoai" class="control-label">Số điện thoại:</label>
                                <input asp-for="so_dien_thoai" type="text" class="form-control"
                                    id="editEmployeeSoDienThoai" required />
                                <span asp-validation-for="so_dien_thoai" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="phong_ban_id" class="control-label">Phòng ban:</label>
                                <select asp-for="phong_ban_id" class="form-control" id="editEmployeePhongBan" required>
                                    @foreach (var phongBan in ViewBag.PhongBanList)
                                    {
                                        <option value="@phongBan.pb_id">@phongBan.ten_phong_ban</option>
                                    }
                                </select>
                                <span asp-validation-for="phong_ban_id" class="text-danger"></span>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="dia_chi" class="control-label">Địa chỉ:</label>
                                <input asp-for="dia_chi" type="text" class="form-control" id="editEmployeeDiaChi" />
                                <span asp-validation-for="dia_chi" class="text-danger"></span>
                            </div>
                            <br>
                            <div>
                                <label asp-for="chuc_vu">Chức vụ:</label>
                                <input asp-for="chuc_vu" type="text" class="form-control" id="editEmployeeChucVu"
                                    required />
                                <span asp-validation-for="chuc_vu" class="text-danger"></span>
                            </div>
                            <br>
                            <div>
                                <label asp-for="so_nam_cong_tac">Số Năm Công tác:</label>
                                <input asp-for="so_nam_cong_tac" type="number" class="form-control"
                                    id="editEmployeeSoNamCongTac" required />
                                <span asp-validation-for="so_nam_cong_tac" class="text-danger"></span>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-chance">
                            <div class="form-group">
                                <button type="submit" class="green-btn">Lưu</button>
                                <button type="button" class="red-btn" data-bs-dismiss="modal"
                                    aria-label="Close">Hủy</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/ValidDate.js"></script>
<script src="~/js/Duplicate.js"></script>
